html, body {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #dadada;
  background-color: #2d1739;
  text-align: justify;
}

#top {
  /* display: flex; */
  /* flex-direction: column; */

  margin: 0;
  padding: 0;
  align-content: stretch;
}

#header {
  display: flex;
  
  width: 100%;
  top: 0;
  height: 250px;
  position: fixed;

  /* transition: 0.01s; */

  font-size: 1.2em;

  background-color: #753d94;
}

#logoBox {
  display: flex;
  padding: 10px;
  align-items: center;
}

#headerLogo {
  max-width: 200px;
  transition: 0.2s;

}

#navbar {
  display: flex;
  width: 80%;
  margin-right: 10px;
  /* justify-content: space-evenly;
  align-items: stretch; */
}

a.navbarLink {
  display: flex;
  justify-content: center;

  flex: 1;
  align-self: center;
  /* height: 7.5vh; */
  margin: 0 10px;
  max-width: 300px;

  text-decoration: none;
}

a.navbarLink > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 10px;
  background-color: #ff3696;
  color: black;
  transition: ease 0.2s;

  box-shadow: 2px 3px rgba(0, 0, 0, 0.171);

  padding: 10px;
  width: 100%;
}

a.navbarLink > div:hover {
  background-color: #ff71b6;
  transition: ease 0.2s;
}

a.navbarLink > div:active {
  transform: translate(0, 2px);
  transition: ease 0.01s;

  box-shadow: 0.2px 1px rgba(0, 0, 0, 0.171);
}

hr {
  border: 2px solid #f1b727;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

h2 {
  margin: 20px 0 10px;
}

p {
  margin: 20px 0;
}

#content {
  flex: 1;

  overflow: auto;
  padding: 25px;
  margin-bottom: 100px;
  margin-top: 250px;
  
  padding: 0 20vw;

  /* margin-top: 300px; */

  background-color: #2d1739;
}

#committee {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;

  margin: 20px;
}
.member > img {
  width: 270px;
  border-radius: 10px 10px 0 0;
}

.member > div {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #101010;
  background-color: #f89f5b;
  width: 250px;
  /* border-top: solid 4px #ff3696; */
  border-radius: 0 0 10px 10px;
  padding: 10px 10px 15px 10px;
}

.memNoImg > div {
  border-radius: 10px;
}

.memberName {
  font-weight: 700;
  text-align: center;
}

.memberRole {
  font-style: italic;
  text-align: center;
}

a {
  /* text-decoration: none; */
  color: #afafaf;
  transition: ease 0.2s;
}

a:hover {
  color: #cacaca;
  transition: ease 0.2s;
}

#footerLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#instagramlogo {
  width: 30px;
  color: #ffffff;
  margin: 0 10px;

  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 20px;
}

#unionlogo {
  width: 100px;
  align-self: center;
  margin: 0 20px;
}

#footer {
  margin-top: auto;
  flex-grow: 0;
  text-align: center;

  padding: 25px 25px;
  background-color: #753d94;
}